data/raw/*.fastq.gz
data/reference/*.fa
data/reference/*.fasta
data/reference/*.fai
data/reference/*.dict
results/aligned/*.bam
results/aligned/*.bai
results/trimmed/*.fastq.gz
*.g.vcf.gz
*.g.vcf.gz.tbi
results/variants/*_db/
results/fastqc/*.zip
data/reference/*.amb
data/reference/*.ann
data/reference/*.bwt
data/reference/*.pac
data/reference/*.sa
